In [1]:
import pandas as pd

In [2]:
election_csv = "Resources/election_data.csv"

In [3]:
election_df = pd.read_csv(election_csv)
election_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [4]:
#The total number of votes cast
Voter_total = election_df["Voter ID"].count()
Voter_total

3521001

In [5]:
#A complete list of candidates who received votes
candidates = election_df["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [6]:
#The number of votes each candidate won
candidate_votes = election_df["Candidate"].value_counts()
candidate_votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [7]:
#The percentage of votes each candidate won
percentage_votes = (candidate_votes/Voter_total)*100
pd.options.display.float_format = '{:,.2f}%'.format
percentage_votes

Khan       63.00%
Correy     20.00%
Li         14.00%
O'Tooley    3.00%
Name: Candidate, dtype: float64

In [8]:
election_summary_df = pd.DataFrame({"Candidate" : candidate_votes, "Percentage" : percentage_votes})
election_summary_df

          Candidate  Percentage
Khan        2218231      63.00%
Correy       704200      20.00%
Li           492940      14.00%
O'Tooley     105630       3.00%

In [9]:
#The winner of the election based on popular vote.
election_summary_df.head(1)

      Candidate  Percentage
Khan    2218231      63.00%

In [10]:
print("Election Results")
print("-------------------------")
print(f"Total Votes : {Voter_total}")
print("-------------------------")
print(f"{election_summary_df}")
print("-------------------------")
print(f"Winner : {election_summary_df.head(1)}")

Election Results
-------------------------
Total Votes : 3521001
-------------------------
          Candidate  Percentage
Khan        2218231      63.00%
Correy       704200      20.00%
Li           492940      14.00%
O'Tooley     105630       3.00%
-------------------------
Winner :       Candidate  Percentage
Khan    2218231      63.00%