In [1]:
import pandas as pd

In [2]:
budget_csv = "Resources/budget_data.csv"

In [3]:
budget_df = pd.read_csv(budget_csv)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
budget_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [5]:
budget_df["Profit/Losses"] =  budget_df.loc[:,"Profit/Losses"].astype(float)
budget_df.dtypes

Date              object
Profit/Losses    float64
dtype: object

In [6]:
# The total number of months included in the dataset
count = budget_df["Date"].count()
count

86

In [7]:
# The net total amount of "Profit/Losses" over the entire period
Total_amount = budget_df["Profit/Losses"].sum()
pd.options.display.float_format = '${:,.2f}'.format
Total_amount

38382578.0

In [8]:
change = budget_df["Profit/Losses"].diff()
pd.options.display.float_format = '${:,.2f}'.format
budget_df["change"] = change
budget_df

        Date  Profit/Losses       change
0   Jan-2010    $867,884.00         $nan
1   Feb-2010    $984,655.00  $116,771.00
2   Mar-2010    $322,013.00 $-662,642.00
3   Apr-2010    $-69,417.00 $-391,430.00
4   May-2010    $310,503.00  $379,920.00
..       ...            ...          ...
81  Oct-2016    $102,685.00 $-665,765.00
82  Nov-2016    $795,914.00  $693,229.00
83  Dec-2016     $60,988.00 $-734,926.00
84  Jan-2017    $138,230.00   $77,242.00
85  Feb-2017    $671,099.00  $532,869.00

[86 rows x 3 columns]

In [9]:
#The average of the changes in "Profit/Losses" over the entire period
average_change = budget_df["change"].mean()
pd.options.display.float_format = '${:,.2f}'.format
average_change

-2315.1176470588234

In [10]:
#The greatest decrease in losses (date and amount) over the entire period
min_sort = budget_df.sort_values(by="change")
min_sort.head(1)

        Date  Profit/Losses         change
44  Sep-2013 $-1,196,225.00 $-2,196,167.00

In [11]:
#The greatest increase in profits (date and amount) over the entire period
max_sort = budget_df.sort_values("Profit/Losses", ascending = False)
max_sort.head(1)

        Date  Profit/Losses        change
25  Feb-2012  $1,170,593.00 $1,926,159.00

In [12]:
#The greatest increase in profits (date and amount) over the entire period
#The greatest decrease in losses (date and amount) over the entire period
max_change = change.max()
min_change = change.min()

for i in range(1,86):
    if budget_df.iloc[i]["change"] == max_change:
        print(budget_df.iloc[i]["Date"],budget_df.iloc[i]["change"])
    if budget_df.iloc[i]["change"] == min_change:
        print(budget_df.iloc[i]["Date"],budget_df.iloc[i]["change"])

Feb-2012 1926159.0
Sep-2013 -2196167.0

In [13]:
print("Financial Analysis")
print("------------------------------")
print(f"Total Months : {count}")
print(f"total : {Total_amount}")
print(f"Average Change: {average_change}")
print(f"Greatest Increase in Profits: {max_change}")
print(f"Greatest decrease in Profits: {min_change}")

Financial Analysis
------------------------------
Total Months : 86
total : 38382578.0
Average Change: -2315.1176470588234
Greatest Increase in Profits: 1926159.0
Greatest decrease in Profits: -2196167.0